#hand {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#raise {
    height: 100%;
    background-color: #e9967a;
}

 #call {
    height: 100%;
    background-color: #8fbc8b;
}

#fold {
    height: 100%;
    background-color: #666666;
}